.favorites-page {
    padding-left: 30px;
     
  }
  
  .favorites-title {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .favorite-card {
    margin-bottom: 30px;
  }
  
  .favorites-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  
