* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.main-container {
    display: flex;
    width: 100vw;
    justify-content: left;
    min-height: 600px;

}

.main-container.small-screen {
    flex-wrap: wrap;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: right;
    margin-inline: 5%;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 80px;
    flex-grow: 3;
}

.main-container.small-screen .movie-list {
    gap: 30px;
    justify-content: center;
}

.movie-list__title {
    width: 100%;
    text-align: center;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.filters {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: top;
    align-items: start;
    padding-left: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 50px;
}

.main-container.small-screen .filters {
    width: 100%;
    align-items: center;
}

.filters__title {
    padding-left: 10px;
    text-align: left;
}

.filter__title {
    padding-left: 10px;
    font-size: 23px;
}

nav.MuiPagination-root {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    button {
        color: white;
    }
}

ul.MuiPagination-ul {
    div {
        color: white !important;
    }
}

div.MuiSelect-select {
    padding: 10px;
    border: 1px solid rgb(25, 118, 210);

    * {
        color: white !important;
    }
}

div.MuiFormControl-root {
    margin: 0;
    width: 200px;

    div {
        color: white;
        max-width: 200px;

    }
}

.MuiFormControl {
    div {
        color: white;
    }
}

.MuiSlider-root {
    span.MuiSlider-markLabel {
        color: white;
    }

    .MuiSlider-track {
        color: rgb(25, 118, 210);
    }
}

.MuiList-root {
    color: rgb(25, 118, 210);
}

.MuiBox-root {
    label {
        color: rgb(25, 118, 210);
    }
}